{% extends 'stumanage/base.html' %}

{% block main %}
    <form class="for" action="" method="post">
        <div class="form-group">
            姓名<input type="text" name="name"><br>
            年龄：<input type="text" name="name"><br>
            成绩：<input type="text" name="name"><br>
            邮箱：<input type="text" name="name"><br>
            班级：
            <select name="cls">
                {% for cls in classes %}
                    <option value="{{ cls.id }}">{{ cls.name }}</option>
                {% endfor %}
            </select><br>
            <input type="submit">
        </div>
    </form>
{% endblock %}